@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins',sans-serif;
    background: #f5f6fc;
    
    
}

.custom-select .ant-select-selector {
  border-radius: 0.8rem; /* rounded-lg */

}
.custom-shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 -4px 12px rgba(0, 0, 0, 0.05);
 
}

@view-transition{
  navigation:auto;
}
#title {
  view-transition-name: title;
}
::view-transition-group(*){
  animation-duration: 1s;
}